In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math

# Collecting Data

In [3]:
path1="C:/Users/dell/Downloads/Measurement_info.csv"
df_meas_info = pd.read_csv(path1)
df_meas_info.head()

   Measurement date  Station code  Item code  Average value  Instrument status
0  2017-01-01 00:00           101          1          0.004                  0
1  2017-01-01 00:00           101          3          0.059                  0
2  2017-01-01 00:00           101          5          1.200                  0
3  2017-01-01 00:00           101          6          0.002                  0
4  2017-01-01 00:00           101          8         73.000                  0

In [4]:
path2="C:/Users/dell/Downloads/Measurement_item_info.csv"
df_meas_item = pd.read_csv(path2)
df_meas_item.head()

,Item code,Item name,Unit of measurement,Good(Blue),Normal(Green),Bad(Yellow),Very bad(Red)
0,1,SO2,ppm,0.02,0.05,0.15,1.0
1,3,NO2,ppm,0.03,0.06,0.20,2.0
2,5,CO,ppm,2.00,9.00,15.00,50.0
3,6,O3,ppm,0.03,0.09,0.15,0.5
4,8,PM10,Mircrogram/m3,30.00,80.00,150.00,600.0

In [5]:
path3="C:/Users/dell/Downloads/Measurement_station_info.csv"
df_meas_station = pd.read_csv(path3)
df_meas_station.head()

,Station code,Station name(district),Address,Latitude,Longitude
0,101,Jongno-gu,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005008
1,102,Jung-gu,"15, Deoksugung-gil, Jung-gu, Seoul, Republic o...",37.564263,126.974676
2,103,Yongsan-gu,"136, Hannam-daero, Yongsan-gu, Seoul, Republic...",37.540033,127.004850
3,104,Eunpyeong-gu,"215, Jinheung-ro, Eunpyeong-gu, Seoul, Republi...",37.609823,126.934848
4,105,Seodaemun-gu,"32, Segeomjeong-ro 4-gil, Seodaemun-gu, Seoul,...",37.593742,126.949679

In [6]:
path4="C:/Users/dell/Downloads/Measurement_summary.csv"
df_summary = pd.read_csv(path4)
df_summary.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.003,0.051,0.002,1.2,69.0,61.0

# See how many missing value we have:

In [7]:
# get the number of missing data points per column
print(df_summary.isnull().sum())

Measurement date    0
Station code        0
Address             0
Latitude            0
Longitude           0
SO2                 0
NO2                 0
O3                  0
CO                  0
PM10                0
PM2.5               0
dtype: int64

In [8]:
print(df_meas_info.isnull().sum())

Measurement date     0
Station code         0
Item code            0
Average value        0
Instrument status    0
dtype: int64

In [9]:
print(df_meas_item.isnull().sum())

Item code              0
Item name              0
Unit of measurement    0
Good(Blue)             0
Normal(Green)          0
Bad(Yellow)            0
Very bad(Red)          0
dtype: int64

In [10]:
print(df_meas_station.isnull().sum())

Station code              0
Station name(district)    0
Address                   0
Latitude                  0
Longitude                 0
dtype: int64

That seems like a no problem about missing data. It helpful to process to clen data.

# Data Visualization